$sidebar-width: 80px;
$sidebar-icon-size: 30px;

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #999;
}

#content-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

section[ng-view] {
  margin-left: $sidebar-width;
}

aside#left-col {
  float: left;
  width: $sidebar-width;
  margin-left: -100%;
  background-color: black;
  position: static;
  height: 100%;

  ul.list-group {
    li.list-group-item {
      border-radius: 0;
      cursor: pointer;
      text-align: center;
      font-size: 12px;
      padding: 5px 0 5px 0;

      i {
        font-size: $sidebar-icon-size;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

footer {
  clear: left;
  width: 100%;
}