$bootstrap-margin-size: 15px;
$sidebar-width: 50px;
$sidebar-icon-size: 35px;
$def-padding: 5px;
$bg-color: #FAFAFA;
$active-color: #4EBCCA;
$sidebar-bg-color: #424244;
$sidebar-color: #CACDCF;

html {
  overflow-y: hidden;
  height: 100%;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

#content-wrapper {
  padding-left: $sidebar-width;
  margin-left: 0;
  margin-right: 0;

  section {
    padding-left: 0px;
    padding-right: 0px;

    $border: 1px solid #dddddd;

    &.left-panel {
      border-right: $border;
    }
    &.right-panel {
      border-left: $border;
    }
  }
}

aside#left-col {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;

  ul.menu {
    list-style: none;
    padding-left: 0;

    li {
      $icons-margin: 10px;
      margin-top: $icons-margin;
      height: $sidebar-icon-size + $icons-margin;

      text-align: center;
      cursor: pointer;
      color: $sidebar-color;

      &.active {
        color: $active-color;
      }

      i {
        font-size: $sidebar-icon-size;
        display: block;
      }
    }
  }
}

.pimyscroll {
  $scroll-area-w: 10px;
  $scroll-w: 6px;
  position: relative;
  padding-right: $scroll-area-w;

  .viewport {
    position: relative;
    overflow: hidden;
  }

  .overview {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
  }

  .scrollbar {
    position: absolute;
    right: 0;
    width: $scroll-area-w;
  }

  .track {
    position: relative;
    width: $scroll-w;
    padding: 0 ($scroll-area-w - $scroll-w - 1);
  }

  .thumb {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 20px;
    width: $scroll-w;
    background-color: #ddd;
    border-radius: 3px;
  }

  .disable {
    display: none;
  }
}

.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.records-list {
  .record-item {
    background-color: #f9f9f9;
    padding-left: 10px;
    padding-right: 10px;

    $record-border: 1px solid #e3e3e3;
    border-left: $record-border;
    border-right: $record-border;
    border-bottom: $record-border;

    &:first-child {
      border-top: $record-border;
    }

    .title {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: #e5e5e5;
    }
  }
}

.records-viewer {
  background-color: #ddd;
  padding-left: 10px;
  padding-right: 10px;

  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.records-editor {
  div.button-bar {
    min-width: 40px;
    background-color: $sidebar-bg-color;
    text-align: center;
    border-radius: 5px;

    button {
      border: 0 none;
      margin: 1px 10px;
      background-color: $sidebar-bg-color;
      color: $sidebar-color;
      line-height: $sidebar-icon-size;
      font-size: $sidebar-icon-size;

      &:hover {
        color: $active-color;
      }

      &:active {
        border: 0 none;
      }
    }
  }

  input[type=text] {
    width: 100%;
    border: 0 none;
    border-bottom: 1px dashed #ddd;
    background-color: $bg-color;
    padding-left: 10px;

    &:focus {
      border-bottom-color: #000000;
    }
  }

  input[name=title] {
    font-size: large;
    font-weight: bold;
  }

  input[name=tags] {
    margin: 10px 0;
  }

  textarea {
    width: 100%;
    border: 0 none;
    background-color: $bg-color;
  }
}