$sidebar-width: 60px;

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #999;
}

#content-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

section[ng-view] {
  margin-left: $sidebar-width;
}

aside {
  float: left;
  width: $sidebar-width;
  margin-left: -100%;
  background-color: black;
  position: static;
  height: 100%;
}

footer {
  clear: left;
  width: 100%;
}