@import "bourbon/bourbon";
@import "neat/neat";

$sidebar-width: 50px;
$sidebar-icon-size: 35px;

$color-headings: #e69411;
$color-text: #5a5e5f;
$color-bg: #EDECE4;
$color-bg-light: #FAFAFA;
$color-link: #4E8EF7;
$color-backdrop: #F6F6F6;

$color-1: #5F9EA0;
$color-2: #1dbbd6;
// Tags, Links, Main Heading, Quote Border
$color-3: #C0392B;
// Hover-over color, Active Page color
$color-4: #23defe;
// Hover-over background color for tags
$color-5: #34495E;
// Sub-headings, Date Stamp
$color-6: #ffffff;
// Navbar Text, Tag text
$color-7: #1ec2de;
// Navbar
$color-8: #2C3E50;
// Code background
$color-9: #E74C3C;
// Quote Color
// Body Text
$color-10: #7F8C8D;
// Footer

$section-border-color: #dddddd;
$section-border: 1px solid $section-border-color;
$section-margin: 3px;

$h-base-font-size: 14px;
$h-max-size: 3;

$active-color: #4EBCCA;
$sidebar-bg-color: #424244;
$sidebar-color: #CACDCF;

$modal-zindex: 1050;

$font-mono: "PT Mono", monospace, serif;

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Custom styles
========================================================================== */

//monospaced
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(../fonts/PTM55FT.ttf);
}

//default font
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(../fonts/Istok_Web/IstokWeb-Regular.ttf);
}

@font-face {
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 400;
  src: local('Istok Web Italic'), local('IstokWeb-Italic'), url(../fonts/Istok_Web/IstokWeb-Italic.ttf);
}

//headers
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url(../fonts/PT_Serif-Caption-Web-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif Caption", sans-serif;
  font-weight: 400;
  color: $color-headings;
}

h1 {
  font-size: golden-ratio($h-base-font-size, $h-max-size);
}

h2 {
  font-size: golden-ratio($h-base-font-size, $h-max-size - 1);
}

h3 {
  font-size: golden-ratio($h-base-font-size, $h-max-size - 2);
}

h4 {
  font-size: golden-ratio($h-base-font-size, $h-max-size - 3);
}

h5 {
  font-size: golden-ratio($h-base-font-size, $h-max-size - 4);
}

h6 {
  font-size: golden-ratio($h-base-font-size, $h-max-size - 5);
}

*:focus {
  outline: none;
}

a, a:visited {
  color: $color-link;
  text-decoration: none;
  border: 0 none;

  &:hover {
    text-decoration: underline;
  }
}

code,
kbd,
pre,
samp {
  font-family: $font-mono;
}

html {
  overflow: hidden;
  height: 100%;
  font-family: "Istok Web", sans-serif;
  color: $color-text;
}

body {
  background-color: $color-bg;
}

#content-wrapper {
  padding: 2px 0 2px $sidebar-width;

  border: 1px solid $sidebar-color;

  section {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;

    &.left-panel {
      float: left;
      padding-left: 0;
      padding-right: $section-margin/2;
    }

    &.right-panel {
      float: right;
      padding-left: $section-margin/2;
      padding-right: $section-margin;
    }
  }
}

aside#left-col {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  border-right: $section-border;

  ul.menu {
    list-style: none;
    padding-left: 0;

    li {
      $icons-margin: 10px;
      margin-top: $icons-margin;
      height: $sidebar-icon-size + $icons-margin;

      text-align: center;
      cursor: pointer;
      color: $sidebar-color;

      &.active {
        color: $active-color;
      }

      i {
        font-size: $sidebar-icon-size;
        display: block;
      }
    }
  }
}

.pagination-container {
  $pagination-width: 30px;
  margin-left: $pagination-width + 1;

  ul.pagination {
    width: $pagination-width;

    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;

    li {
      display: block;
    }

    $items-total-h: 20px;
    .items-total {
      height: $items-total-h;
      color: $active-color;
    }

    $page-h: 70px;
    .page {
      height: $page-h;

      input {
        width: 100%;
        text-align: center;
        border: $section-border;
      }
    }

    .arrow-up, .arrow-down {
      color: $section-border-color;

      @include user-select(none);

      font-size: 32px;
      position: relative;
      height: calc(50% - #{$items-total-h/2 + $page-h/2});

      i {
        position: absolute;
        left: 1px;
      }

      &.active {
        cursor: pointer;
        color: $sidebar-bg-color;

        &:hover {
          color: $active-color;
        }
      }
    }

    $arrow-padding: 25%;
    .arrow-up {
      i {
        top: $arrow-padding;
      }
    }

    .arrow-down {
      i {
        bottom: $arrow-padding;
      }
    }
  }
}

.fixed {
  position: fixed;
  z-index: 1000;
}

div.modal {
  position: fixed;
  z-index: $modal-zindex;
  top: 0;
  left: 0;

  .dialog {
    position: relative;
    top: 30%;
    z-index: $modal-zindex;

    width: 350px;
    min-height: 180px;
    margin: 0 auto;

    background-color: $color-bg;
    border-radius: 2px;
    border: 1px solid $section-border-color;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

    text-align: center;

    h2 {
      margin: 0;
      color: $sidebar-bg-color;
      border-bottom: $section-border;
    }

    .text {
      font-size: larger;
      padding: 10px;
    }

    .buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 5px 0;

      button {
        display: inline-block;

        margin-left: 5px;
        margin-right: 5px;

        min-width: 90px;
        height: 35px;

        color: $color-link;

        background-color: $color-bg;
        font-size: larger;

        border: 2px solid $color-link;
        border-radius: 4px;

        &:hover {
          background-color: $color-link;
          color: $color-bg;
        }
      }
    }
  }

  .backdrop {
    position: fixed;
    z-index: $modal-zindex - 1;
    top: 0;
    left: 0;
    background-color: $color-backdrop;
    opacity: 0.8;
  }
}

.tag {
  margin: 5px;
  background-color: $sidebar-bg-color;
  color: $color-bg;
  padding: 0 5px;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $active-color;
  }
}

.CodeMirror {
  height: 100%;

  background-color: $color-bg-light;
  color: $color-text;

  font-family: $font-mono;

  .CodeMirror-code pre {
    &:first-child {
      color: $color-headings;
      font-weight: bold;
    }

    &:nth-child(3) {
      font-weight: bold;
    }

    &.CodeMirror-activeline {
      background-color: #e8f2ff;
    }
  }
}

.records-list {
  border-right: $section-border;
  border-left: $section-border;

  .record-item {
    background-color: $color-bg-light;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: $section-border;

    .title {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: #f8f8f8;
    }

    .row {
      @include row(table);

      .left, .right {
        @include span-columns(6);
      }
    }
  }

  ul.pagination {
    height: calc(100% - 7px);
    padding-bottom: 2px;
  }
}

.records-viewer {
  background-color: $color-bg-light;
  overflow-y: auto;

  .details {
    @include row(table);

    height: 30px;
    border-bottom: $section-border;
    margin: 0;

    .left, .right {
      @include span-columns(6);
      padding-top: 5px;
    }

    .left {
      padding-left: 5px;
    }

    .right {
      padding-right: 5px;

      .record-date {
        color: $sidebar-bg-color;
        margin-right: 10px;
      }
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.text {
    margin: 0 5px;

    word-wrap: break-word;
  }
}

.records-editor {
  height: 100%;

  div.button-bar {
    min-width: 40px;
    background-color: $sidebar-bg-color;
    text-align: center;
    border-radius: 5px;

    button {
      border: 0 none;
      margin: 1px 10px;
      background-color: $sidebar-bg-color;
      color: $sidebar-color;
      line-height: $sidebar-icon-size;
      font-size: $sidebar-icon-size;

      &:hover {
        color: $active-color;
      }

      &:active {
        border: 0 none;
      }
    }
  }
}

/* ==========================================================================
Helper classes
========================================================================== */

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}