@import "bourbon/bourbon";
@import "neat/neat";

$sidebar-width: 50px;
$sidebar-icon-size: 35px;

$color-headings: #e69411;
$color-text: #5a5e5f;
$color-text-black: #232323;
$color-tags: #34495E;
$color-bg: #EDECE4;
$color-bg-light: #FAFAFA;
$color-link: #4E8EF7;
$color-backdrop: #F6F6F6;

$section-border-color: #dddddd;
$section-border: 1px solid $section-border-color;
$section-margin: 3px;

$h-base-font-size: 14px;
$h-max-size: 3;

$active-color: #4EBCCA;
$sidebar-bg-color: #424244;
$sidebar-color: #CACDCF;

$modal-zindex: 1050;

$font-mono: "PT Mono", monospace, serif;

//defaults from html5 boilerplate
@import "_base";

//fonts, headers
@import "_type";

//util classes
@import "_helpers";

//component styles
@import "_components";

/* ==========================================================================
Custom styles
========================================================================== */

html {
  overflow: hidden;
  height: 100%;
  color: $color-text;
}

body {
  background-color: $color-bg;
}

#content-wrapper {
  padding: 2px 0 2px $sidebar-width;

  border: 1px solid $sidebar-color;

  section {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;

    &.left-panel {
      float: left;
      padding-left: 0;
      padding-right: $section-margin/2;
    }

    &.right-panel {
      float: right;
      padding-left: $section-margin/2;
      padding-right: $section-margin;
    }
  }
}

aside#left-col {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  background-color: $sidebar-bg-color;
  border-right: $section-border;

  menu {
    list-style: none;
    padding-left: 0;

    li {
      $icons-margin: 10px;
      margin-top: $icons-margin;
      height: $sidebar-icon-size + $icons-margin;

      text-align: center;
      cursor: pointer;
      color: $sidebar-color;

      &.active {
        color: $active-color;
      }

      i {
        font-size: $sidebar-icon-size;
        display: block;
      }
    }
  }
}

.pagination-container {
  $pagination-width: 30px;
  margin-left: $pagination-width + 1;

  ul.pagination {
    width: $pagination-width;

    padding: 0;
    margin: 0;

    list-style: none;
    text-align: center;

    li {
      display: block;
    }

    $items-total-h: 20px;
    .items-total {
      height: $items-total-h;
      color: $color-tags;
    }

    $page-h: 70px;
    .page {
      height: $page-h;

      input {
        width: 100%;
        text-align: center;
        border: $section-border;
      }
    }

    .arrow-up, .arrow-down {
      color: $section-border-color;

      @include user-select(none);

      font-size: 32px;
      position: relative;
      height: calc(50% - #{$items-total-h/2 + $page-h/2});

      i {
        position: absolute;
        left: 1px;
      }

      &.active {
        cursor: pointer;
        color: $sidebar-bg-color;

        &:hover {
          color: $active-color;
        }
      }
    }

    $arrow-padding: 25%;
    .arrow-up {
      i {
        top: $arrow-padding;
      }
    }

    .arrow-down {
      i {
        bottom: $arrow-padding;
      }
    }
  }
}

div.modal {
  position: fixed;
  z-index: $modal-zindex;
  top: 0;
  left: 0;

  .dialog {
    position: relative;
    top: 30%;
    z-index: $modal-zindex;

    width: 350px;
    min-height: 180px;
    margin: 0 auto;

    background-color: $color-bg;
    border-radius: 2px;
    border: 1px solid $section-border-color;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

    text-align: center;

    h2 {
      margin: 0;
      color: $sidebar-bg-color;
      border-bottom: $section-border;
    }

    .text {
      font-size: larger;
      padding: 10px;
    }

    .buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 5px 0;

      button {
        display: inline-block;

        margin-left: 5px;
        margin-right: 5px;

        min-width: 90px;
        height: 35px;

        color: $color-link;

        background-color: $color-bg;
        font-size: larger;

        border: 2px solid $color-link;
        border-radius: 4px;

        &:hover {
          background-color: $color-link;
          color: $color-bg;
        }
      }
    }
  }

  .backdrop {
    position: fixed;
    z-index: $modal-zindex - 1;
    top: 0;
    left: 0;
    background-color: $color-backdrop;
    opacity: 0.8;
  }
}

.records-list {
  border-right: $section-border;
  border-left: $section-border;

  min-height: 100%;

  background-color: $color-bg-light;

  .record-item {
    background-color: $color-bg-light;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: $section-border;

    .title {
      // one line
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 20px;

      border-bottom: 0 none;
      margin-top: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      background-color: $color-bg;

      .title {
        color: $color-text-black;
      }
    }

    .row {
      font-size: 12px;
      padding: 5px 0;
      time {
      }
    }
  }

  ul.pagination {
    height: calc(100% - 7px);
    padding-bottom: 2px;
  }
}

.records-viewer {
  background-color: $color-bg-light;
  overflow-y: auto;

  .row {
    border-bottom: $section-border;
    height: 35px;
    padding-top: 5px;
    margin: 0;
    font-size: 15px;

    .left {
      padding-left: 5px;
      padding-top: 3px;
      color: $color-text;
    }

    .right {
      padding-top: 3px;
      font-size: 17px;

      .icon {
        padding-left: 6px;
        padding-right: 10px;

        border-right: $section-border;

        cursor: pointer;

        &:last-child {
          border-right: 0 none;
        }

        &:hover {
          color: $color-link;
        }
      }
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.text {
    margin: 0 5px;

    word-wrap: break-word;
  }
}

.records-editor {
  height: 100%;

  div.button-bar {
    min-width: 40px;
    background-color: $sidebar-bg-color;
    text-align: center;
    border-radius: 5px;

    button {
      border: 0 none;
      margin: 1px 10px;
      background-color: $sidebar-bg-color;
      color: $sidebar-color;
      line-height: $sidebar-icon-size;
      font-size: $sidebar-icon-size;

      &:hover {
        color: $active-color;
      }

      &:active {
        border: 0 none;
      }
    }
  }
}
