<form ng-submit="save()"
      ng-controller="RecordsEditorCtrl"
      class="records-editor">
    <div class="button-bar" fixed right="20" top="10">
        <button type="submit">
            <icon type="checkmark-round"/>
        </button>
    </div>
    <input type="text"
           name="title"
           placeholder="record title"
           autofocus=""
           ng-model="record.title"/>

    <input type="text"
           name="tags"
           placeholder="record tags"
           ng-model="record.tags" ng-list/>

    <textarea name="text"
              rows="20"
              placeholder="record text"
              ng-model="record.text"></textarea>
</form>