<div class="records-viewer h-100" ng-controller="RecordsViewerCtrl" ng-show="isInitialized()">
    <div class="details" ng-hide="isEditMode()">
        <div class="left">
            #{{ record.id }} <a href="/records/{{ record.id }}/edit">Edit</a>
        </div>
        <div class="right text-right">
            <span class="record-date">{{ record.updated_on | date:"H:mm EEE dd.MM.y"}}</span>
            <icon type="close-round" ng-click="delete()"></icon>
        </div>
    </div>
    <h3 class="title w-100 text-center">{{ record.title }}</h3>

    <div class="tags">
        <tag ng-repeat="tag in record.tags" name="{{ tag }}"></tag>
    </div>

    <markdown data=text></markdown>
</div>